<div class="product__icon__row">
    {%if block.settings.image1 != blank or block.settings.title1 != blank %}
    <div class="product__icon__container">
        {%if block.settings.image1 != blank  %}
        <div class="image_row_container">
            {%- capture sizes -%}{{ block.settings.icon_size1 }}px{%- endcapture -%}
            {%- capture widths -%}{{ block.settings.icon_size1 }}, {{ block.settings.icon_size1 | times: 2 | at_most: block.settings.image1.width }}{%- endcapture -%}
            {{- block.settings.image1 | image_url: width: block.settings.image1.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, width: block.settings.icon_size1 -}}
        </div>
        {%endif%}
        {%if block.settings.title1 != blank  %}
        <div class="product__icon__text">
            <p>{{ block.settings.title1 }}</p>
        </div>
        {%endif%}
    </div>
    {%endif%}
    {%if block.settings.image2 != blank or block.settings.title12 != blank %}
    <div class="product__icon__container">
        {%if block.settings.image2 != blank  %}
        <div class="image_row_container">
            {%- capture sizes -%}{{ block.settings.icon_size2 }}px{%- endcapture -%}
            {%- capture widths -%}{{ block.settings.icon_size2 }}, {{ block.settings.icon_size2 | times: 2 | at_most: block.settings.image2.width }}{%- endcapture -%}
            {{- block.settings.image2 | image_url: width: block.settings.image2.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, width: block.settings.icon_size2 -}}
        </div>
        {%endif%}
        {%if block.settings.title12 != blank  %}
        <div class="product__icon__text">
            <p>{{ block.settings.title12 }}</p>
        </div>
        {%endif%}
    </div>
    {%endif%}
</div>